:root {
    --DarkSlateGrey: hsl(234, 29%, 20%),
    --CharcoalGrey: hsl(235, 18%, 26%),
    --Grey: hsl(231, 7%, 60%),
    --White: hsl(0, 0%, 100%)
}

body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    background-color: hsl(234, 29%, 20%);

}
.container {
    background-color: hsl(0, 0%, 100%);    
    border-radius: 3rem;
    width: 928px;
    height: 641px;
    margin: 10rem auto;
    display: flex;
}

.containert-sub{
width: 376px;
height: 446px;
margin-top: 4rem;
margin-left: 4rem;
}

h1 {
    color: hsl(234, 29%, 20%);
    font-family: Roboto;
    font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 100%; 
}

p {
    color: #242742; 
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}
li {
    color: #242742; 
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    
}

li > p {
    margin-left: 2rem;
    margin-top: -1.8rem;

}

.container-form{
    margin-top: 1rem;

}

.email{
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

input {
width: 356px;
height: 56px;
border-radius: 8px;
border: 1px solid rgba(25, 24, 43, 0.25);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
opacity: 0.5;
margin-top: -2rem;
padding-left: 1rem;
}


.button {
width: 376px;
height: 56px;
border-radius: 8px;
border: none;
background-color: #616161;
    cursor: not-allowed;
    color:#eeeeee;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%;
margin-top: 0.5rem;
}

.button:hover:enabled {
    cursor: pointer;
    border-radius: 8px;
    background: var(--Gradient-1, linear-gradient(204deg, #FF6A3A 0%, #FF527B 100%));
    box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);
}

#submitButton:disabled {
    background-color: #EEEEEE;
    cursor: not-allowed;
    color:#616161;
  }

  #submitButton:enabled {
    background-color: #242742;
    cursor: not-allowed;
    color: #ffff;

  }



  
  .error {
    justify-content: flex-end;
    color: red;
    margin-bottom: 1rem;
    margin-top: 5px;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
       
  }

  .error-border {
    border: 1px solid rgb(249, 166, 166);
    background-color: rgb(255, 192, 192);
    color:red;
  }

    .error-border:focus {
        outline: none;
    }

.container-photo {
    width: 400px;
    height: 593px;
    margin-top: 27px;
    margin-left: 3.5rem;
    border-radius: 16px;
    border: 0px solid #19182B;
    background:  linear-gradient(204deg, #FF6A3A 0%, #FF527B 100%);
}

.attribution, a{
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    margin: 0.4rem;
    list-style: none;
}


@media screen and (max-width: 768px) {
    body {
        display: flex;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;

    }

    .container {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .container-photo {
        display: none;
    }

    .containert-sub {
        margin: 1rem;
        width: 375px;
        height: 812px;
    }

    .h1-2 {
        margin-left: 0;
    }

    .button {
        width: 328px;
    }

    .email {
        margin-left: 0;
    }

    input {
        width: 328px;
    }

    .error {
        margin-left: 0;
    }

    .error-border {
        margin-left: 0;
    }

    .error-border:focus {
        outline: none;
    }

    .attribution {
        margin-left: 0;
    }

    .attribution a {
        margin-left: 0;
    }

    .attribution a:hover {
        text-decoration: underline;
    }

    .attribution a:visited {
        color: #FFFFFF;
    }

    .attribution a:active {
        color: #FFFFFF;
    }

    .attribution a:focus {
        color: #FFFFFF;
    }

    .attribution a:link {
        color: #FFFFFF;
    }

    .attribution a:visited {
        color: #FFFFFF;
    }
    
}